@import "../../assets/styles/variables";

.posts {
  display: flex;
  flex-wrap: wrap;

  .post {
    width: 100%;
    padding: 0 1rem;
    @include grid(1);
    //padding-top: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }

    .post-title {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      // max-height: 2rem;
      overflow: hidden;
      font-size: 1.3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      padding: 1rem;
      color: white;
      background: rgba($dark, 0.5)
    }

    .post-icon {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 25px;
      height: auto;
    }

    .post-category {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: $dark;
      padding: 0.25rem 0.5rem;
      background: rgba($light, 0.5);
      border-radius: 5px;
    }

    &:hover {
      .post-title {
        max-height: 100%;
        white-space: inherit;
      }
    }

    @include grid-breakpoint($screen-tablet, 2);

    @include grid-breakpoint($screen-lg, 3);

    @include grid-breakpoint($screen-xlg, 4);

    @include grid-breakpoint($screen-xxlg, 5);

    @include grid-breakpoint($screen-hd, 6);
  }
}
